<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="desktop">
      <div class="div">
        <div class="frame">
          <p class="trade-daddy"><span class="text-wrapper">trade</span> <span class="span">Daddy</span></p>
          <div class="text-wrapper-2">trade like a DAD!</div>
        </div>
        <img class="menu" src="img/menu.svg" />
        <div class="frame-2">
          <div class="search-bar-wrapper">
            <div class="search-bar">
              <div class="div-wrapper"><div class="text-wrapper-3">Search for products |</div></div>
            </div>
          </div>
          <div class="location">
            <p class="arizona-state">
              <span class="text-wrapper-4">@ </span>
              <span class="text-wrapper-5">Arizona State University, Tempe Campus</span>
            </p>
          </div>
        </div>
        <div class="frame-wrapper">
          <div class="frame-3">
            <div class="hi-sparky-wrapper">
              <p class="hi-sparky">
                <span class="text-wrapper-4">Hi, </span> <span class="text-wrapper-6">Sparky</span>
              </p>
            </div>
            <img class="ellipse" src="img/ellipse-1-2.png" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
