{% load socialaccount %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static globals.css %}" />
    <link rel="stylesheet" href="{% static style.css  %}" />
  </head>
  <body>
    <div class="desktop">
      <div class="div">
        <div class="frame">
          <p class="trade-daddy"><span class="text-wrapper">trade</span> <span class="span">Daddy</span></p>
          <div class="text-wrapper-2">trade like a DAD!</div>
        </div>
        <img class="menu" src="img/menu.svg" />
        <div class="frame-2">
          <div class="search-bar-wrapper">
            <div class="search-bar">
              <div class="div-wrapper"><div class="text-wrapper-3">Search for products |</div></div>
            </div>
          </div>
          <div class="location">
            <p class="arizona-state">
              <span class="text-wrapper-4">@ </span>
              <span class="text-wrapper-5">Arizona State University, Tempe Campus</span>
            </p>
          </div>
        </div>
        <div class="frame-wrapper">
          <div class="frame-3">
            <div class="hi-sparky-wrapper">
              <p class="hi-sparky">
                <!-- <span class="text-wrapper-4">Hi, </span> <span class="text-wrapper-6"> <a>Sparky</a> </span> -->
                {% if user.is_authenticated %}
                        <span class="text-wrapper-4">Hi, </span> <span class="text-wrapper-6"> <a>{{ user.username }}</a> </span>
                {% endif %}
              </p>
            </div>
            {% if user.is_authenticated %}
              <img class = "ellipse"
              src="{{ user.socialaccount_set.all.0.get_avatar_url }}"
              />
            {% else %}
            <img class="ellipse" src="img/ellipse-1-2.png" />
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
